.artist-section{
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-artist{
    margin-bottom: 70px;
    margin-top: 70px;
    width:80%;
    box-shadow: 2px 2px 4px 2px #e2e2e2 !important;
}
.profile-section{
    position:relative;
    width: 100%;
    padding:60px;
    margin-top: -20px;
}

.circle{
    position: relative;
    overflow: hidden
    ;
}
.circle.circle1{
    width:220px;
    height:220px;
    float: right;
    border-radius: 50%;
    margin:20px;
    margin-top: 40px;
    shape-outside: circle();
}

.circle img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover
}
.first-letter{
    font-size: 75px;
  line-height: 35px;
  float: left;
  font-style: unset;
}
.profile-section-title{
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    color: #131313;
    text-align: center;
    margin-top: 20px;
}


.profile-section p{
    color:#000;
    font-size: 20px;
    padding: 40px;
}
.circle.circle2{
    width:300px;
    top:10px;
    height:300px;
    float: left;
    border-radius: 30%;
    margin:20px;
    margin-right: 35px;
    shape-outside: circle();
}
.circle.circle3{
    width:350px;
    height:350px;
    /* float: right; */
    border-radius: 10%;
    /* margin:0px; */
    margin-top: 50px;
    /* shape-outside: circle(); */
}
.img-artist-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap ;
}
.img-artist-container div{
    margin:20px;
}
@media(max-width:900px){
    .profile-section p{
        color:#000;
        font-size: 17px;
        padding: 40px;
    }
    .card-artist{       
        width:90%;
    }
}
@media(max-width:735px){
    .profile-section p{
        color:#000;
        font-size: 16px;
        padding: 20px;
    }
    .card-artist{       
        width:90%;
    }
    .circle.circle2{
        width:300px;
        top:10px;
        height:300px;
        float: unset;
        border-radius: 30%;
        margin:20px;
        margin-right: 35px;
        shape-outside: circle();
    }
    .circle.circle1{
        float: unset;
    }
    .circle2-container{
        width: 100%;
        padding:0px;
        display: flex;
        justify-content: center;
    }
    .circle1-container{
        width: 100%;
        padding:0px;
        display: flex;
        justify-content: center;
    }
    
}
@media(max-width:508px){
    .profile-section{
        padding:20px;
    }
    .circle2-container{
        width: 100%;
        padding:0px;
        display: flex;
        justify-content: center;
    }
    .circle1-container{
        width: 100%;
        padding:0px;
        display: flex;
        justify-content: center;
    }
    .card-artist{       
        width:100%;
    }
    .circle.circle3{
        width:400px;
        height:200px;
        
    }
    .circle.circle2{
        padding:0px;
        width:400px;
        height:200px;
        display: flex;
        justify-content: center; 
    }
    
}
@media(max-width:400px){
    .profile-section{
        padding:10px;
    }
    .circle2-container{
        width: 100%;
        padding:0px;
        display: flex;
        justify-content: center;
    }
    .card-artist{       
        width:100%;
    }
    .circle.circle3{
        width:200px;
        height:200px;
        
    }
    .circle.circle2{
        padding:0px;
        width:400px;
        height:200px;
        display: flex;
        justify-content: center; 
    }
    .circle.circle1{
        width:150px;
        height:150px;
        
    }
    
}