.header-deco{
    width: 1200px;
    height: 150px;
}
@media(max-width:1181px){
    .header-deco{
        width: 1000px;
        height: 125px;
    }
}
@media(max-width:1015px){
    .header-deco{
        width: 800px;
        height: 100px;
    }
}
@media(max-width:830px){
    .header-deco{
        width: 700px;
        height: 89px;
    }
}
@media(max-width:700px){
    .header-deco{
        width: 600px;
        height:86px;
    }
}
@media(max-width:600px){
    .header-deco{
        width: 500px;
        height:83px;
    }
}
@media(max-width:500px){
    .header-deco{
        width: 400px;
        height:71px;
    }
}
@media(max-width:400px){
    .header-deco{
        width: 320px;
        height:61px;
    }
}

