.personal-container-1{
    width:80%;
    min-height:  600px;
    /* background: rgb(248, 248, 248); */
    box-shadow: 2px 2px 4px 2px #e2e2e2;
    /* box-shadow: ; */
    display:flex;
    flex-wrap: wrap;
    border-radius: 10px 10px 10px 10px;
}
.personal-card-1{
    position: relative;   
    width:calc(80% - 20px);
    min-height: 300px;
    /* margin:10px; */
    box-sizing: border-box;
}
.personal-card-1 .imgBx{
    position: absolute; 
    width:50%;
    height: 100%;
}
.personal-card-1 .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width: 80%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.personal-card-1 .personal-details-1{
    position:absolute;
    right: 0;
    width:50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-card-1 .personal-details-1 .personal-content-1{
    padding:20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal-card-1 .personal-details-1 .personal-content-1 h2{
    margin:0;
    padding:0;
    font-size: 28px;
    line-height: 0.85em;
    font-weight:600;
    text-align: center;
    margin-bottom: 15px;
}
.personal-card-1 .personal-details-1 .personal-content-1 h2 span{
    font-size:18px;
    color: #777;
    font-weight:500;
}
.personal-card-1 .personal-details-1 .personal-content-1 ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.personal-card-1 .personal-details-1 .personal-content-1 ul li{
    list-style: none;
    margin-left: 2px;
}
.personal-card-1 .personal-details-1 .personal-content-1 ul li a{
    color:#fff;
    border:none;
}

.personal-card-1 .personal-details-1 .personal-content-1 a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 10px;
    border: 2px solid #262626;
    color:#262626;
    font-weight: 500;
}

.personal-card-1 .personal-details-1 .personal-content-1 a:hover{
    background: #262626;
    color:#fff;
    transition: 0.7s;
}
.landing-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}