.personal-container-1{
    width:80%;
    min-height:  600px;
    background: #fff;
    box-shadow: 2px 2px 4px 2px #e2e2e2;
    /* box-shadow: ; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px 10px 10px 10px;
}
.personal-card-1{
    position: relative;   
    width:100%;
    min-height: 300px;
    /* margin:10px; */
    box-sizing: border-box;
}
.personal-card-1 .imgBx{
    position: absolute; 
    width:35%;
    height: 100%;
}
.logo-landing{
    width:150px;
    height:200px;
    margin-bottom: -20px;

}
.personal-card-1 .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

.personal-card-1 .personal-details-1{
    position:absolute;
    right: 0;
    width:65%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
}

.personal-card-1 .personal-details-1 .personal-content-1{
    padding:20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal-card-1 .personal-details-1 .personal-content-1 h2{
    margin:0;
    padding:0;
    font-size: 28px;
    line-height: 0.85em;
    font-weight:600;
    text-align: center;
    margin-bottom: 15px;
}
.personal-card-1 .personal-details-1 .personal-content-1 .job{
    font-size:18px;
    color: #777;
    font-weight:500;
}